@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=KoHo:wght@700&display=swap');

body {
  background-color: #F5EFE0;
  color: #5B503B;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.container {
  max-width: 960px;
  margin: auto;
}

h1 {
  font-size: 3.3em;
  font-family: 'KoHo', sans-serif;
  text-align: center;
  margin-bottom: 0.25em;
}

h3,
p,
li {
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  margin: 0.05em;
  vertical-align: middle;
}

img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1%;
  object-fit: contain;
}

.ingredients {
  margin: 0.5em;
}

.ingredient-images {
  margin: 0.25em;
}

.ingredient-images img {
  width: 100%;
  height: 100%;
}

.sandwich {
  width: 50%;
  height: 50%;
}

.draggable-list {
  padding: 5px;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  border: 1px dashed #957B5D;
  border-radius: 1em;
}

li {
  list-style: none;
  padding: 10px;
  margin: 5px;
  background-color: #F0E5CF;
  border: 1px solid #957B5D;
  border-radius: 1em;
  color: #5B503B;
  cursor: grab;
  text-align: center;
}

.over {
  background-color: #FFCC00;
}

table {
  max-width: 640px;
  margin: auto;
  margin-bottom: 20px;
}

button {
  margin: auto;
  cursor: pointer;
  display: block;
  padding: 10px;
  font-size: 16px;
  border-radius: 1em;
  border: none;
  color: #F5EFE0;
  background-color: #5B503B;
  font-family: 'JetBrains Mono', monospace;
  font-family: 'KoHo', sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

button:hover {
  background-color: #FFCC00;
  color: #5B503B;
}

#endMessage {
  display: none;
  margin: auto;
}

#funGame {
  display: block;
}